* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}

.google-header {
    font-family: 'poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-pic {
    border: none;
    background: transparent;
}

.profile-pic img {
    width: 30px;
    overflow: hidden;
    border-radius: 100%;
    
}